<div class="container">
<div class="page-header">
  <%=link_to "New Task", new_project_task_path(@project), class: "btn btn-info pull-right" %></h1>
  <h1> Tasks for
    <%=@project.name %>
  </h1>
</div>
<ol class="breadcrumb">
  <li><%= link_to "Projects", project_tasks_path %></li>
  <li><%=link_to @project.name %></li>
  <li> task </li>
</ol>
<table class="table">
  <thead>
    <th>Description</th>
    <th>Due date</th>
  </thead>

  <tbody>
        <tr>
        <% @tasks.each do |task| %>
          <td>
            <% if task.is_complete %>
             <s><%= link_to task.description, project_task_path(@project, task) %></s>
            <% else %>
            <%= link_to task.description, project_task_path(@project, task) %>
            <% end %>
          </td>

          <td>
            <% if task.due_date %>
            <%= task.due_date.strftime("%m/%d/%Y") %>
            <% else %>
            <% end %>
          </td>

          <td class="text-right">
              <%=link_to "Edit", edit_project_task_path(@project, task), class:"btn btn-info" %>
              <%=link_to "Destroy", project_task_path(@project, task), class: "btn btn-danger", method: :delete %>
          </td>
          </tr>
    <% end %>
  </tbody>
</table>
</div>
