<div class= "container">
  <div class="page-header">
    <h1>New Task</h1>
  </div>

    <ol class="breadcrumb">
      <li><a href="tasks_path">Tasks</a></li>
      <li> New Task </li>
    </ol>

    <%= form_for @task, html: {class: "form-horizontal" } do |f| %>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="form-group">
      <%= f.submit "Create Task", class: "btn btn-primary" %>
      <%= link_to "Cancel", tasks_path, class: "btn btn-default" %>
    </div>
<% end %>
</div>
