  <div class= "container">
    <div class="page-header">
      <h1>New Task</h1>
    </div>

      <ol class="breadcrumb">
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= "New Task" %></li>
      </ol>

      <%=render partial: "form" %>

    <div class="form-group">
        <%= f.submit "Create Task", class: "col-sm-offset-1 btn btn-primary" %>
        <%= link_to "Cancel", tasks_path, class: "btn btn-default" %>
        <% end %>
    </div>
  </div>
