  <h1>
    <div class= "page-header">
      <%=link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info pull-right" %>

      <% if @task.is_complete %>
       <s><%=@task.description %></s>
      <% else %>
      <%=@task.description %>
      <% end %>
    </div>
  </h1>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
      <li><%= @task.description %></li>
    </ol>

    <h4>
      Due Date:
      <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
      <% else %>
      <% end %>
    </h4>

    <h3> Comments </h3>
    <% @task.comments.each do |comment| %>
    <div class= "row">
        <div class= "col-md-3">
          <%= link_to "#{comment.user.full_name}", user_path(comment.user) %>
          <p class="text-muted"><%= time_ago_in_words(comment.created_at) + ' ago' %></p>
        </div>
        <div class= "col-md-9">
          <%= comment.description %>
        </div>
    </div>
    <% end %>

    <div class= "row">
      <div class= "form-group">
        <div class= "col-md-9 col-md-offset-3">
          <%= form_for [@task, @comment], html: {class: "form-horizontal"} do |f| %>
            <%= f.text_area :description, class: "form-control" %>
              <div class= "form-group">
                <div class = "col-md-9">
                  <br>
                  <%= f.submit "Add Comment", class: "btn btn-info" %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
