  <h1>
    <div class= "page-header">
      <%=link_to "Edit", edit_project_task_path(@project, @task), class: "btn btn-info pull-right" %>

      <% if @task.is_complete %>
       <s><%=@task.description %></s>
      <% else %>
      <%=@task.description %>
      <% end %>
    </div>
  </h1>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to @project.name, project_path(@project) %></li>
      <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
      <li><%= @task.description %></li>
    </ol>

    <h4>
      Due Date:
      <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
      <% else %>
      <% end %>
    <h4>
