<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
     <%=link_to "gCamp", root_path, class:"navbar-brand" %>
  </div>
</nav>
<body>

<%= yield %>

<div class="container">
  <hr></hr>
<footer>
  <%=link_to "About", about_path %> | <%=link_to "Terms", terms_path %>
  <%=link_to image_tag("linked_in.jpg", class: "social_media"),"https://www.linkedin.com/" %>
  <%=link_to image_tag("GitHub.png", class: "social_media"),"http://github.com" %>
  <%=link_to image_tag("Twitter.png", class: "social_media"),"https://twitter.com/" %>
  <%=link_to image_tag("galvanize.png", class: "social_media"),"http://www.galvanize.it/" %>

</footer>
</div>
</body>
</html>
