<!DOCTYPE html>
<html>
<head>
  <title>GCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
     <%=link_to "gCamp", root_path, class:"navbar-brand" %>
     <% if current_user %>
     <%=link_to current_user.full_name, user_path(current_user), class: "navbar-brand nav navbar-nav navbar-right"%>
     <%=link_to "Sign Out", sign_out_path, class: "navbar-brand nav navbar-nav navbar-right"%>
     <% else %>
     <%=link_to "Sign Up", sign_up_path, class: "navbar-brand nav navbar-nav navbar-right"%>
     <%=link_to "Sign In", sign_in_path, class: "navbar-brand nav navbar-nav navbar-right"%>
     <% end %>
  </div>
</nav>

<div class= "container">
  <% if flash[:notice].present? %>
  <p class="alert alert-success"><%= flash[:notice] %></p>
  <% end %>

  <div class= "container">
    <% if flash[:idiot].present? %>
    <p class="alert alert-danger"><%= flash[:idiot] %></p>
    <% end %>


<%= yield %>

</div>

<footer>
<div class= "container">
  <hr>
    <%=link_to "About", about_path %> | <%=link_to "Terms", terms_path %> | <%=link_to "FAQ", faq_path %> |
    <%=link_to "Tasks", tasks_path %> | <%=link_to "Users", users_path %> | <%=link_to "Projects", projects_path %>
    <%=link_to image_tag("linked_in.jpg", class: "social_media"),"https://www.linkedin.com/" %>
    <%=link_to image_tag("GitHub.png", class: "social_media"),"http://github.com" %>
    <%=link_to image_tag("Twitter.png", class: "social_media"),"https://twitter.com/" %>
    <%=link_to image_tag("galvanize.png", class: "social_media"),"http://www.galvanize.it/" %>
</div>
</footer>
</body>
</html>
